/*
  91.61 Assignment: Implementing a Bit of Scrabble with Drag-and-Drop (with Extra Credits)
  Nicholas E. Avtges, Umass Lowell Computer Science, nicholas_avtges@student.uml.edu
  Created 12/2/2020
*/
img {
  width: inherit;
  height: inherit;
}
.board {
  background-image: url("graphics_data/Scrabble_Board_OneLine.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 90px;
  width: 1200px;
}
#hand {
  background-image: url("graphics_data/scrabble-tile-holder-406774_640.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
  width: 700px;
}
.ui-widget-content {
  float: left;
  padding: 5px;
  width: 70px;
  height: 70px;
  position: relative;
  top: 70px;
}
.ui-widget-header {
  float: left;
  padding: 5px;
  width: 70px;
  height: 70px;
  position: relative;
  top: 5px;
}
#draggable1 {
  padding-left: 50px;
}
