input[type=number] {
   border: 2px solid navy;
   border-radius: 5px;
   margin: 5px;
   background-color: #add8e6;
}

input[type=button] {
    background-color: navy;
    color: white;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}

table, th, td {
  border: 1px solid black;
}

body {
    text-align: center;
}
