/*
91.61 Assignment Bootstrap and GitHub
Nicholas E. Avtges Umass Lowell Computer Science, nicholas_avtges@student.uml.edu
Created 9/28/2020

This file will be used to format the main html file for HW4. The customization here
will be used to pollish the improvements made using bootstrap.
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("angryimg.png");
    background-repeat: repeat-y;
    background-size: cover;
}

.jumbotron {
    color: navy;
    text-align: center;
    font-family: cursive;
    background: transparent;
}

h2 {
    color: navy;
    text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: large;
}

.list-group .list-group-item{
  background-color: #1bbbe3;
  border: black;
}

.list-group-item:hover {
  background-color: #f5b662;
}

form {
    background-color: #4654e1;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #fff;
    opacity: 0.7;
}