/*
  91.61 Assignment: Style a Site with External CSS
  Nicholas E. Avtges, Umass Lowell Computer Science, nicholas_avtges@student.uml.edu
  Created 9/28/2020
  This webpage is a deeper dive into css customization of a webpage. the task was to customize a
	given html file to match a desired look.
*/

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
/*Most of the values for the general body were given in the assignment*/
body {
	background-color: #00569f;
	background-image: url(ptrbackground.jpg);
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	text
}

/*centers all the content*/
#wrapper{
	margin: auto;
	width: 80%;
	min-width: 600px;
}

/*makes a header with picture as background and centers it*/
/*i couldnt get the picture to fit properly above the rest of the content on the page*/
header{
	background-image: url(sunset.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

/*Most of the values here were given in the assignment*/
#content{
	background-color: white;
	margin-left: 200px;
	padding: 10px 40px;
	height: 650px;
	position: fixed;
	float: right;
}
img {
	float: left;
	padding-right: 25px;
}

ul{
	list-style-image: url(marker.gif);
}

/*Make the resort text look right*/
span.resort{
	font-weight: bold;
	color: teal;
}

/*Took some messing around to get the padding and the height correct to make everything look right*/
nav ul {
	font-size: 1.2em;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 20px;
	width: 160px;
	background-color: lightblue;
	position: fixed;
	height: 630px;
}

/*makes the navigation details look correct*/
nav a {
	display: block;
	text-decoration: none;
	color: navy;
	font-weight: bold;
}
/*makes visited sights a certain color*/
nav a:visited {
	color: #344873;
}
/*makes hovered sites red*/
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-bottom: 0;
	padding: 10px;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
/*fixes the footer under the main content and next to the navigation bar*/
footer {
	position: fixed;
	margin-top: 620px;
	margin-left: 230px;
	font-family: Georgia, "Times New Roman", serif;
	background-color: white;
	font-style: italic;
}
