/*
  91.61 Assignment: Using the jQuery UI Slider and Tab Widgets
  Nicholas E. Avtges, Umass Lowell Computer Science, nicholas_avtges@student.uml.edu
  Created 11/24/2020
*/

/*Formats the input fields of the form*/
input[type=number] {
   border: 2px solid navy;
   border-radius: 5px;
   margin: 5px;
   width: 10%
   background-color: #add8e6;
}

button {
  background-color: navy;
  color: white;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
}

label {
  font-size: 20px;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left, #00cc66 0%, #ccff66 100%);
    background: -moz-linear-gradient( to left, #00cc66 0%, #ccff66 100%);
    background: -ms-linear-gradient( to left, #00cc66 0%, #ccff66 100%);
    background: -o-linear-gradient( to left, #00cc66 0%, #ccff66 100%);
    background: linear-gradient( to left, #00cc66 0%, #ccff66 100%);
}

/*Format the table*/
table {
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: black;
}
th, td {
  width: 50px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
}
/*Set background colors for the cells*/
tr:nth-child(1) td:nth-child(n+2){
  background-color: #007015;
}
tr:nth-child(n+2) td:nth-child(1){
  background-color: #007015;
}
tr:nth-child(n+2) td:nth-child(n+2){
  background-color: #65eb7e;
}

/*My Sliders*/
#slider1, #slider2, #slider3, #slider4{
  width: 350px;
  background: green;
  margin-bottom: 10px;
}

/*My Tabs*/
#tabs {
    padding: 5px;
    background: #009999;
    border-width: 1px solid black;
}
#tabs .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#tabs .ui-tabs-panel {
    background: #00ccff;
    border-width: 0px 1px 1px 1px;
}
